.detail-01 {
    margin-top: 66px;
}

.detail-02 {
    margin-bottom: 44px;
}

.detail-04 {
    width: 180px;
    height: 180px;
    margin-right: 44px;
    border-radius: 4px;
    box-shadow: 0 30px 40px -20px rgba(255, 255, 255, 0.16);
    overflow: hidden;
}

.detail-05 {
    margin: 0;
    margin-bottom: 5.5px;
    font-size: 34px;
    line-height: 1.27;
}

.detail-06 {
    margin: 0;
    margin-bottom: 5.5px;
    font-size: 15px;
    line-height: 22px;
}

.detail-07 {
    padding: 0 8px;
}

.detail-08 {
    margin: 0;
    margin-bottom: 22px;
}

.detail-09 {
    margin: 0 0 0 -22px;
}

.detail-10,
.detail-11 {
    padding-left: 22px;
    position: relative;
}

.detail-10 > button {
    margin: 0;
    padding: 0 44px;
    cursor: pointer;
    line-height: 2.4;
    font-size: 20px;
    outline: none;
    border: none;
    border: 2px solid white;
    background: white;
    border-radius: 999px;
    font-weight: 700;
    width: auto;
    transition: all 0.3s ease-in-out;
    height: 50px;
}

.detail-10 > button:hover {
    background-color: green;
    color: white;
}

.detail-10 > button:hover,
.detail-11 > button:hover {
    border-color: green;
}

.detail-11 > button {
    border: 2px solid white;
    outline: none;
    background: none;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 15px;
    height: 50px;
    width: 50px;
}


.options01 {
    position: absolute;
    z-index: 3;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}