.song-list-01 {
    width: 100%;
    padding: 8px 5.5px 8px 0;
    height: 56px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.song-list-01:hover,
.song-list-01.song-dragging {
    background-color: white;
    color: black;
}

.song-list-01 > div:nth-of-type(2) {
    padding: 0;
}

.song-list-01.song-dragging {
    box-shadow: 0 0 7px rgb(255, 255, 255);
}

.song-list-01:hover .song-list-03,
.song-list-01.song-dragging .song-list-03 {
    font-size: 14px;
}

.song-list-01:hover .song-list-08,
.song-list-01.song-dragging .song-list-08 {
    opacity: 1;
    visibility: visible;
}

.song-list-01:hover .song-list-09,
.song-list-01.song-dragging .song-list-09 {
    opacity: 1;
    visibility: visible;
}

.song-list-01:hover .song-list-06 svg,
.song-list-01.song-dragging .song-list-06 svg {
    color: black;
}

.song-list-01 .song-list-06 svg {
    color: white;
    transition: all 0.3s ease-in-out;
}

.song-list-02 {
    width: 55px;
    padding: 11px;
    position: relative;
}

.song-list-03 {
    transition: font-size 0.3s ease-in-out;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.4;
    position: relative;
}

.song-list-04 {
    width: 55px;
    flex: 1;
}

.song-list-05 > * {
    width: 48%;
    font-size: 13px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.song-list-05 > h4 {
    padding-right: 44px;
}

.song-list-05 span {
    cursor: pointer;
}

.song-list-06 {
    width: 55px;
}

.song-list-07 {
    width: 66px;
    height: 100%;
    font-size: 13px;
}

.song-list-08 {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    visibility: hidden;
    background-color: white;
    cursor: pointer;
    border: 2px solid black;
    transition: opacity 0.3s ease-in-out 0.15s;
    border-radius: 50%;
    padding: 5px;
}
.song-list-09 {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: opacity 0.3s ease-in-out 0.15s;
    border-radius: 4px;
    padding: 5px;
}

.song-list-01:hover .song-list-10,
.song-list-01.song-dragging .song-list-10 {
    display: none;
}

.song-list-01:hover .song-list-11 > .app05,
.song-list-01.song-dragging .song-list-11 > .app05 {
    display: block;
}

.song-list-01 .song-list-11 > .app05 {
    display: none;
}

.song-list-11.options > .app05 {
    opacity: 1;
}

.song-list-01:hover .fa-heart,
.song-list-01.song-dragging .fa-heart {
    color: black;
}

.song-list-01:hover .fa-heart.liked-hrt,
.song-list-01.song-dragging .fa-heart.liked-hrt {
    color: red;
}

.song-list-01:hover .song-list-14 {
    opacity: 1;
}

.song-list-11 > button {
    outline: none;
    border: none;
    background: none;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 10px;
    height: 40px;
    width: 40px;
}

.song-list-12 {
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
}

.song-list-13 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    background-color: rgb(43, 197, 180);
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
}

.song-list-14 {
    opacity: 0;
    color: black;
    transition: all 0.3s ease-in-out;
    aspect-ratio: 1/1;
    height: 28px;
}

@media screen and (max-width: 600px) {
    .song-list-05 {
        flex-direction: column;
    }

    .song-list-05 > * {
        width: 100%;
    }

    .song-list-01 > div:first-of-type {
        display: none;
    }

    .song-list-06 {
        display: none;
    }
}
