.ust01 {
    margin-left: 44px;
    padding: 66px 12px 8px;
}

.ust02 {
    margin-bottom: 44px;
}

.ust03 {
    height: 200px;
    width: 200px;
    box-shadow: 0px 4px 22px 4px rgba(0, 0, 0, 0.132);
    background: darkgrey;
    flex-wrap: wrap;
    border-radius: 8px;
}

.ust04 {
    margin-left: 22px;
}

.ust05 {
    font-size: 48px;
    margin: 12px 0;
}

.ust04 .detail-09 {
    margin: 22px 0 0px -22px;
}

.ust06 {
    margin-top: 22px;
}

.ust07 {
    border: 1px solid #2bc5b4;
    background-color: #2bc5b4;
    outline: none;
    border-radius: 999px;
    margin: 22px 0;
    font-size: 15px;
    font-weight: 600;
    color: white;
    transition: all 0.3s ease-in-out;
    padding: 8px 12px;
}

.ust07:hover {
    background-color: #258f83;
    border-color: #258f83;
}

@media screen and (max-width: 1000px) {
    .ust01 {
        margin: 0;
        padding: 66px 8px 0;
    }
}
@media screen and (max-width: 600px) {
    .ust03 {
        height: 150px;
        width: 150px;
    }

    .ust02.app06 {
        flex-direction: column;
    }

    .ust04 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}
