.queue01 {
    height: 100%;
    color: white;
}

.queue02 {
    padding: 22px;
}

.queue03 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.queue04 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.queue04 > img {
    width: 100%;
    vertical-align: middle;
    border-radius: 8px;
}

.queue05 {
    margin-bottom: 0;
}

.queue06 {
    margin: 0px;
}

.queue07 {
    background-color: rgba(255, 255, 255, 0.07);
    padding: 16px;
    border-radius: 8px;
}

.queue08 {
    margin: 0;
}

.queue09 {
    margin-top: 15px;
}

.queue10 {
    margin: 4px 0;
    padding: 4px 0;
    border-radius: 6px;
    cursor: pointer;
}

.queue10:hover {
    background-color: rgba(255, 255, 255, 0.07);
}

.queue11 {
    display: flex;
    align-items: center;
}

.queue12 {
    height: 60px;
    aspect-ratio: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.queue13 {
    margin: 0 10px;
    height: 60px;
    width: 60px;
}

.queue13 > img {
    width: 100%;
    border-radius: 3px;
    vertical-align: middle;
}

.queue14 {
    width: calc(100% - 120px);
}

.queue15 {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.queue16 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
}

.queue17 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.queue18 {
    flex: 1;
}

.queue19 {
    display: flex;
    justify-content: flex-end;
    /* cursor: pointer; */
}

.queue20 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.queue20:hover {
    background-color: rgba(255, 255, 255, 0.07);
}
