.range-container {
    width: 100%;
    display: flex;
}

.time-stamp {
    margin: 0 10px;
}
.range-input {
    height: 4px;
    width: 100%;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 15px;
}

.range-input::-webkit-slider-thumb {
    appearance: none;
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
}

.overlayDiv {
    position: absolute;
    left: 0;
    height: 4px;
    top: 12px;
    background: white;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.range-cont {
    width: 100%;
    position: relative;
}

.range-input:hover::-webkit-slider-thumb,
.range-cont:hover .range-input::-webkit-slider-thumb {
    display: flex;
    position: relative;
    z-index: 12;
}

.range-cont:hover .overlayDiv {
    background: green;
    z-index: 0;
}

.audio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audio-player01 {
    width: 30%;
    min-width: 180px;
}

.audio-player02 {
    display: flex;
    padding: 10px;
}

.audio-player03 {
    width: 60px;
    aspect-ratio: 1/1;
}

.audio-player03 > img {
    vertical-align: middle;
    width: 100%;
}

.audio-player04 {
    padding-left: 16px;
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.audio-player05 {
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
    overflow: hidden;
    line-height: 1.4;
    font-size: 13px;
    white-space: nowrap;
}

.audio-player06 {
    width: 40%;
    max-width: 722px;
}

.audio-player07 {
    display: flex;
    justify-content: center;
}

.audio-player08 {
    margin: 0 0 0 -20px;
    display: flex;
}

.audio-player09 {
    padding-left: 16px;
}

.audio-player09 > button {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.audio-player09 > button:hover {
    opacity: 0.6;
}

.audio-player10 {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 50%;
}

.audio-player11 {
    width: 20px;
}

.audio-player12 {
    display: flex;
    justify-content: center;
    width: 40px;
}

.audio-player13 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
}

.audio-player14 {
    height: 35px;
    width: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.audio-player15 {
    height: 25px;
    width: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
}

.audio-player16 {
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
