.list01 {
    display: flex;
}

.list02 {
    padding-left: 22px;
    width: 14.2857%;
    position: relative;
    margin-bottom: 20px;
}

.listButtons:hover .listTabs {
    visibility: visible;
    opacity: 1;
}

.list03 {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 11px;
}

.list04 {
    width: 100%;
    display: flex;
    aspect-ratio: 1/1;
}

.listImg {
    vertical-align: middle;
}

.listTabs {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.list05 {
    position: absolute;
    inset: 0;
    background: #000000d3;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    width: 100%;
    aspect-ratio: 1/1;
}

.list06 {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.list07 {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.listTitle {
    margin: 0;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
    line-height: 1.4;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 13px;
    width: 100%;
}

.playBtn {
    height: 44px;
    width: 44px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.mainBtnHov {
    position: absolute;
    top: 50%;
    left: 50%;
}

.mainBtnHov:hover .playBtn {
    width: 50px;
    height: 50px;
}

.queue-shift .list01 {
    flex-wrap: wrap;
}

.queue-shift .list02 {
    width: 20%;
}

@media screen and (max-width: 1000px) {
    .list01 {
        flex-wrap: wrap;
    }
    .list02 {
        margin-bottom: 20px;
        width: 20%;
    }

    .queue-shift .list02 {
        width: 25%;
    }
}
@media screen and (max-width: 768px) {
    .list02 {
        margin-bottom: 20px;
        width: 25%;
    }
    .queue-shift .list02 {
        width: 50%;
    }
}
@media screen and (max-width: 590px) {
    .list02 {
        margin-bottom: 20px;
        width: 50%;
    }
}
