.list01 {
    flex-wrap: wrap;
}

.list01::-webkit-scrollbar {
    display: none;
}

.list02 {
    padding-left: 22px;
    width: 14.2857%;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.listButtons:hover .list05 {
    background: #0000009b;
}

.listButtons:hover .list06 > div:first-of-type,
.listButtons:hover .list06 > div:nth-of-type(2),
.listButtons:hover .options .app05 {
    opacity: 1;
}

.listButtons {
    width: 100%;
}

.options .app05 {
    opacity: 0;
}

.list03 {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 11px;
}

.list04 {
    aspect-ratio: 1/1;
}

.list04 img {
    width: auto !important;
    height: auto !important;
}

.list05 {
    position: absolute;
    inset: 0;
    flex-direction: column;
    background-color: transparent;
    justify-content: space-between;
    padding: 8px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    aspect-ratio: 1/1;
}

.list06 {
    height: 100%;
    position: relative;
}

.list07 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainBtnHov > .list07 > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -48%);
}

.list08 {
    opacity: 0;
}

.list09 {
    border-radius: 50%;
    overflow: hidden;
}

.list10 {
    margin: 0 0 22px -22px;
}

.list11 {
    padding: 22px;
}

.list12 {
    margin-bottom: 20px;
}

.list13 {
    margin: 0;
    padding: 0;
    margin-bottom: 22px;
    font-weight: 700;
    line-height: 1.375;
}

.listTitle {
    margin: 0;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
    line-height: 1.4;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 13px;
    width: 100%;
}

.playBtn {
    height: 44px;
    width: 44px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.mainBtnHov {
    position: absolute;
    top: 50%;
    opacity: 0;
    left: 50%;
}

.mainBtnHov:hover .playBtn {
    width: 50px;
    height: 50px;
}

.queue-shift .list01 {
    flex-wrap: wrap;
}

.queue-shift .list02 {
    width: 25%;
}

@media screen and (max-width: 1000px) {
    .list01 {
        flex-wrap: wrap;
    }
    .list02,
    .queue-shift .list02 {
        margin-bottom: 20px;
        width: 20%;
    }
}
@media screen and (max-width: 768px) {
    .list02,
    .queue-shift .list02 {
        margin-bottom: 20px;
        width: 25%;
    }
}
@media screen and (max-width: 590px) {
    .list02,
    .queue-shift .list02 {
        margin-bottom: 20px;
        width: 50%;
    }
}
