body {
    margin: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    outline: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

.pRel {
    position: relative;
}

img {
    width: auto;
    max-width: 100%;
    vertical-align: middle;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.h-50 {
    height: 50%;
}

.w-20 {
    width: 20%;
}

.app01 {
    display: flex;
}

.app02 {
    display: flex;
    justify-content: center;
}

.app03 {
    display: flex;
    justify-content: space-between;
}

.app04 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app05 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app06 {
    display: flex;
    align-items: center;
}

.app07 {
    flex-direction: column;
    align-items: center;
}

.app08 {
    display: flex;
    flex-direction: column;
}

.app09 {
    display: flex;
    align-items: flex-end;
}

.app10 {
    display: flex;
    justify-content: flex-end;
}

.fa-heart {
    color: white;
}

.fa-heart.liked-hrt {
    color: green;
}

.mainContainer {
    height: 100vh;
    position: relative;
    background-color: #000;
}

.sidebarContainer {
    width: 250px;
    grid-area: sidebar;
    color: white;
}

.right-sidebar {
    grid-area: right-sidebar;
    background-color: rgb(18, 18, 18);
    border-radius: 8px;
    width: 350px;
    overflow: hidden;
    overflow-y: scroll;
}

.right-sidebar::-webkit-scrollbar {
    display: none;
}

.gridMain {
    display: grid;
    position: relative;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
    width: 100%;
    /* padding: 8px; */
    grid-template-areas: "sidebar main-content" "music-player music-player";
    gap: 8px;
}

.gridMain.queue-open {
    grid-template-areas: "sidebar main-content right-sidebar" "music-player music-player music-player";
}

button {
    cursor: pointer;
}
/* *::-webkit-scrollbar{
    display: none;
} */

html {
    overflow: hidden;
}

.main-content {
    color: white;
    height: 100%;
    width: 100%;
    background-color: rgb(18, 18, 18);
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-area: main-content;
}

.main-content::-webkit-scrollbar {
    display: none;
}

.footer {
    width: 100%;
    height: 75px;
    color: white;
    background-color: rgb(18, 18, 18);
    position: relative;
    grid-area: music-player;
}

.bottom-bar {
    grid-area: bottom-bar;
    height: 70px;
    display: none;
    background-color: rgb(18, 18, 18);
    color: white;
}

.scrollHider {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 8px;
    margin: 8px 8px;
    height: calc(100% - 16px);
}

.scrollHider::-webkit-scrollbar {
    display: none;
}

.options01 {
    position: absolute;
    z-index: 3;
}

@media screen and (max-width: 1240px) {
    .sidebarContainer {
        width: 100px;
    }
}

@media screen and (max-width: 1000px) {
    .sidebarContainer {
        display: none;
    }

    .bottom-bar {
        display: block;
    }

    .scrollHider {
        margin: 0;
        padding: 0;
    }

    .footer {
        height: 80px;
    }

    .gridMain,
    .gridMain.queue-open {
        padding: 0;
        grid-template-areas: "main-content" "music-player" "bottom-bar";
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .right-sidebar {
        position: absolute;
        top: 10px;
        right: 0;
        bottom: 165px;
        background-color: rgba(18, 18, 18, 0.75);
        backdrop-filter: blur(10px);
    }
}
