body {
    margin: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    font-family: Lato,sans-serif;
}

.mainContainer {
    height: 100vh;
    background-color: #000;
}

.sidebarContainer {
    width: 350px;
    grid-area: sidebar;
    color: white;
}
.gridMain {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
    width: 100%;
    padding: 8px;
    grid-template-areas: "sidebar main-content" "music-player music-player";
    gap: 8px;
}

.main-content {
    color: white;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-area: main-content;
}

.main-content::-webkit-scrollbar{
    display: none;
}
.footer {
    width: 100%;
    height: 75px;
    color: white;
    grid-area: music-player;
}


.scrollHider {
    overflow-y: scroll;
    overflow-x: hidden;
}

.scrollHider::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 1240px) {

    .sidebarContainer {
        width: 100px;
    }
    
}

@media screen and (max-width: 1000px) {
    .sidebarContainer {
display: none;    }
    
}