body {
    margin: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

.pRel {
    position: relative;
}

img {
    width: auto;
    max-width: 100%;
    vertical-align: middle;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.h-50 {
    height: 50%;
}

.w-20 {
    width: 20%;
}

.app01 {
    display: flex;
}

.app02 {
    display: flex;
    justify-content: center;
}

.app03 {
    display: flex;
    justify-content: space-between;
}

.app04 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app05 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app06 {
    display: flex;
    align-items: center;
}

.app07 {
    flex-direction: column;
    align-items: center;
}

.app08 {
    display: flex;
    flex-direction: column;
}

.app09 {
    display: flex;
    align-items: flex-end;
}

.app10 {
    display: flex;
    justify-content: flex-end;
}

.loaderDiv {
    width: 50px;
    height: 50px;
}

.fa-heart {
    color: white;
}

.fa-heart.liked-hrt {
    color: red;
}

button {
    cursor: pointer;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    overflow: hidden;
}

.scrollHider {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 8px;
    margin: 8px 8px;
    height: calc(100% - 16px);
}

.scrollHider::-webkit-scrollbar {
    display: none;
}

.options01 {
    position: absolute;
    z-index: 3;
}

@media screen and (max-width: 1240px) {
    .sidebarContainer {
        width: 100px;
    }
}

@media screen and (max-width: 1000px) {
    .sidebarContainer {
        display: none;
    }

    .bottom-bar {
        display: block;
    }

    .scrollHider {
        margin: 0;
        padding: 0;
    }

    .footer {
        height: 80px;
    }

    .gridMain,
    .gridMain.queue-open {
        padding: 0;
        grid-template-areas: "main-content" "music-player" "bottom-bar";
        grid-template-columns: auto;
        grid-template-rows: 1fr auto;
    }

    .right-sidebar {
        position: absolute;
        top: 10px;
        right: 0;
        bottom: 165px;
        background-color: rgba(18, 18, 18, 0.75);
        backdrop-filter: blur(10px);
    }
}
