.mainContainer {
    height: 100vh;
    position: relative;
    background-color: #000;
}

.sidebarContainer {
    width: 250px;
    grid-area: sidebar;
    color: white;
}

.right-sidebar {
    grid-area: right-sidebar;
    background-color: rgb(18, 18, 18);
    border-radius: 8px;
    width: 350px;
    overflow: hidden;
    overflow-y: scroll;
}

.right-sidebar::-webkit-scrollbar {
    display: none;
}

.gridMain {
    display: grid;
    position: relative;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
    width: 100%;
    grid-template-areas: "sidebar main-content" "music-player music-player";
    gap: 8px;
}

.gridMain.queue-open {
    grid-template-areas: "sidebar main-content right-sidebar" "music-player music-player music-player";
}

.main-content {
    color: white;
    height: 100%;
    width: 100%;
    height: calc(100%);
    background-color: rgb(18, 18, 18);
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-area: main-content;
}

.main-content::-webkit-scrollbar {
    display: none;
}

.footer {
    width: 100vw;
    height: 75px;
    color: white;
    background-color: rgb(18, 18, 18);
    position: relative;
    grid-area: music-player;
}

.bottom-bar {
    grid-area: bottom-bar;
    height: 70px;
    display: none;
    background-color: rgb(18, 18, 18);
    color: white;
}

@media screen and (max-width: 1240px) {
    .sidebarContainer {
        width: 100px;
    }
}

@media screen and (max-width: 1000px) {
    .sidebarContainer {
        display: none;
    }

    .bottom-bar {
        display: block;
    }

    .scrollHider {
        margin: 0;
        padding: 0;
    }

    .footer {
        height: 80px;
    }

    .gridMain,
    .gridMain.queue-open {
        padding: 0;
        grid-template-areas: "main-content" "music-player" "bottom-bar";
        grid-template-columns: auto;
        grid-template-rows: 1fr auto;
    }

    .right-sidebar {
        position: absolute;
        top: 10px;
        right: 0;
        bottom: 165px;
        background-color: rgba(18, 18, 18, 0.75);
        backdrop-filter: blur(10px);
    }
}
